
.nav-bg{
    background-color: #f5f8ff;
    height: 80px;
 
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    padding: 16px 18px;
    font-size: 12px;
    text-transform: uppercase;
   
}
.navbar-light .navbar-nav .nav-link:hover{
    color:rgb(228, 0, 159);
}
.btn-help {
    padding: 0px 35px;
    border-radius: 0px;
    font-size: 12px;
    color: #fff;
    margin: 9px 10px;
    border: 1px solid white;
    cursor: pointer;
    box-shadow: none;
}
.btn-help:hover {
    background: linear-gradient(rgb(236, 0, 98),     rgb(219, 9, 202));
    box-shadow: none;
}
.navbar-light .navbar-toggler {
    color: white;
    border-color: yellow;
}

    
  
.checkFloat{
    background-color: rgb(73, 174, 187);
    overflow: hidden;
}
.btn-s{
    float: right;
    padding: 2px 18px;
    margin-right: 40px;
    font-size: 13px;
    border: 1px solid rgb(42, 168, 206);
    background:linear-gradient(rgb(73, 174, 187),     rgb(81, 18, 94)) ;
    color: rgb(206, 190, 190);
}
.btx{
    border-radius: 0%;
    padding: 3px 10px;
    margin: 0px 10px;
}